/* src/App.css */
/* App.css */

/* Ensure the body takes up the full height of the viewport */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Center everything within the App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

/* Style for the upload form */
.upload-form {
  margin-bottom: 20px;
}

/* Style for the video select dropdown */
.video-select {
  margin-bottom: 20px;
}

/* Style for the annotation manager container */
.annotation-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px; /* Match the video width */
}

/* Style for the video element */
video {
  border: 1px solid #ccc;
}

/* Style for the canvas element */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
